@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    
}

.img-mob {
    padding: 2px 2px 2px 2px;
 }

.main-login{
    width: 100vw;
    height: 100vh;
    background: url('imagens/background.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1{
    color: #d00000;
}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: #f1f1f1;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
    
}

.card > h1{
    color: #d00000;
    font-weight: 800;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.texto{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;


}

.texto > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: #edede9;
    font-size: 12pt;
    box-shadow: 0px 5px 5px #00000056;
    outline: none;
    box-sizing: border-box;
}

.texto > label {
    margin-bottom: 10px;
}

.texto >input::placeholder {
    color: #00000056;
}

.texto input:focus-visible{
    outline: 1px solid #9d0208;

}

.continue-btn {
    width: 100%;
    padding: 16px 0px ;
    margin: 25px;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    background-color: #d00000;
    color: #f1f1f1;
    border: none;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px red;
}

.continue-btn:hover{
    background-color: #9d0208;
}

.texto a {
    text-decoration: none;
    font-weight: 500;
}


@media screen and (max-width: 1064px){
    .left-login {
        display: none;
    }
    
    .main-login {
        width: 100%;
    }

    .right-login {
        width: 100%;
    }
}

